{{value|json}}
<div class="dropdown" [ngClass]="{'show':isOpen}">
	<button class="btn btn-primary dropdown-toggle" (click)="isOpen=!isOpen" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <div class="dropdown-menu" [ngClass]="{'show':isOpen}">
      <div class="filter-item-container">
        <div class="filter-item">
          <select class="filter-type" [(ngModel)]="condition1">
            <option *ngFor="let item of filterTypes" [ngValue]="item.name">
              {{item.displayName}}
            </option>
          </select>
          <br>
          <input type="text" class="filter-value" placeholder="Filter..." [(ngModel)]="condition1Value"> 
        </div>
        <div class="filter-condition" *ngIf="condition1Value">
          <label class="radio-inline"><input class="filter-condition-options" type="radio" name="operator" checked value="AND" [(ngModel)]="operator">AND</label>
          <label class="radio-inline radio-next-option"><input  class="filter-condition-options" type="radio" name="operator" value="OR" [(ngModel)]="operator">OR</label>
        </div>
         <div class="filter-item" *ngIf="condition1Value">
          <select class="filter-type" [(ngModel)]="condition2">
            <option *ngFor="let item of filterTypes" [ngValue]="item.name">
              {{item.displayName}}
            </option>
          </select>
          <br>
          <input type="text" class="filter-value" placeholder="Filter..." [(ngModel)]="condition2Value"> 
        </div>
        <div class="actions-button text-right">
          <button type="button" class="btn btn-secondary btn-sm">Cancel</button>
          <button type="button" class="btn btn-primary btn-sm" [disabled]="!(condition1 && condition1Value)" (click)="applyFilter()">Apply</button>
        </div>
      </div>
  </div>
</div>
