
.filter-item-container{
    .filter-item{
      select,input{
        width: 200px;
        margin: 5px 10px;
      }
    }
    .filter-condition{
        width: 200px;
        margin: 5px 10px;
        .radio-next-option{
          margin-left:10px;
        }
        label{
          cursor: pointer;
        }
    }
}